@charset "utf-8"

@import bourbon
@import base/base
@import neat

$background-color: lightgray
$dropzone-color: white
$dropzone-boder-color: gray

body
  height: 100%
  background-color: $background-color

#dropzone
  width: 100%
  height: 100%
  text-align: center
  padding: 10px
  margin: 10px
  background-color: $dropzone-color
  border-radius: 5px
  border: 2px $dropzone-boder-color dashed
  &:hover
    border-color: lighten($dropzone-boder-color, 10%)
